@import "./utilities";
@import "./variables";

* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	font-family: "Ubuntu", sans-serif;
	color: $white;
}

img {
	display: block;
}

body,
html {
	max-height: 100vh;
}
