@import "./globals/utilities";
@import "./globals/variables";

$max-width: $mobile-bp;

main.content {
	background-color: $blue-bg;
	// height: 300vh;
	overflow: auto;
	overflow-x: hidden;
	max-height: 100vh;
	.navbar {
		margin-block: 5rem;
		z-index: 9999;
		background-color: $blue-bg;
		position: sticky;
		top: 0px;
		display: flex;
		justify-content: center;
		@include mobile() {
			justify-content: space-evenly;
		}

		.nav-item {
			list-style: none;
			padding: 1rem;
			&:not(:last-child) {
				margin-right: 30px;
			}

			@include mobile() {
				padding: 0;
				margin: 0;
				padding-block: 0.5rem;
			}

			.icon {
				display: none;
				@include mobile() {
					display: block;
				}
			}
			.text {
				@include mobile() {
					display: none;
				}
			}
		}
	}

	.home {
		isolation: isolate;
		height: 100vh;
		display: flex;

		@include mobile() {
			height: auto;
			min-height: 95vh;
			flex-direction: column-reverse;
			justify-content: flex-end;
		}

		.text {
			flex-grow: 1;
			display: flex;
			flex-direction: column;
			justify-content: center;
			align-items: center;
			width: 50%;
			@include mobile() {
				width: 100%;
				padding-top: 2rem;
			}
			.container {
				h2 {
					font-size: 32px;
					@include mobile() {
						font-size: 30px;
					}
				}

				h1 {
					font-size: 92px;
					color: $blue;
					margin-bottom: 78px;
					@include mobile() {
						font-size: 21vw;
						margin-bottom: 10px;
					}
				}
				p {
					font-size: 24px;
					span {
						color: $cyan;
					}
				}
			}
		}

		.img {
			width: 50%;
			@include mobile() {
				width: 100%;
				height: 50vh;
			}
			position: relative;
			overflow: hidden;
			background-image: url("../public/daniel-oliveira.jpeg");
			background-size: auto 100%;
			background-position: calc(50vw - 140px) center;
			img {
				display: none;
			}
			@include mobile() {
				background-size: auto 100%;
				background-position: center calc(-50vh + 200px);
				// background-attachment: scroll;
			}
			background-attachment: fixed;
			background-repeat: no-repeat;
		}
	}

	.projects {
		&__list {
			min-height: 100vh;
			// height: 100%;
			display: flex;
			align-items: center;
			justify-content: space-evenly;
			@include mobile() {
				flex-direction: column;
				justify-content: flex-start;
				padding: 1rem;
			}
			.project {
				box-shadow: -4px 4px 0px 1px $blue;
				background-color: $darkest-blue;
				width: 400px;
				height: 480px;
				@include mobile() {
					height: auto;
					width: 100%;
				}
				padding: 1rem;
				padding-block: 3rem;
				&:not(:last-child) {
					margin-right: 3rem;
					@include mobile() {
						margin-right: 0;
						margin-bottom: 1rem;
					}
				}
				&__title {
					font-size: 32px;
					font-weight: 400;
					text-align: center;
					margin-bottom: 1rem;
				}

				&__img {
					// height: 250px;
					margin-bottom: 1rem;
					img {
						max-height: 100%;
						max-width: 100%;
					}
				}

				&__description {
				}
			}
		}
	}

	.about {
		.section-header {
			margin-bottom: 4rem;
		}

		.text-container {
			min-height: 100vh;
			background-image: url("../public/pattern.png");
			display: grid;
			place-items: center;
			@include mobile() {
				padding: 1rem;
			}
			.topics {
				.topic {
					margin-block: 2rem;
					&__title {
						margin-bottom: 1rem;
						font-size: 28px;
					}

					&__content {
						line-height: 160%;
					}
				}
			}
		}
	}

	.technologies {
		margin-block: 4rem;

		.description {
			margin-block: 2rem;
			font-size: 120%;
			margin-bottom: 4rem;
			@include mobile() {
				padding-inline: 1rem;
			}
		}

		.tech-list {
			display: grid;
			grid-template-columns: 1fr 1fr 1fr;
			@include mobile() {
				grid-template-columns: 1fr 1fr;
			}

			.tech {
				width: 100%;
				// height: 380px;
				position: relative;
				box-shadow: inset 0px 0px 5px 2px $blue;
				border: 1px solid rgba($white, 0.25);

				&.compact {
					// height: 200px;
					.tech__icon-container {
						width: 90px;
					}
				}

				.content {
					position: relative;
					padding-inline: 1rem;
					padding-block: 1rem;
					display: flex;
					flex-direction: column;
					align-items: center;
					height: 100%;
					background-color: $dark-blue;
					transition: all 100ms ease-in;
					border: 1px solid rgba($white, 0.35);

					&:hover {
						z-index: 99;
						$translation: 8px;
						transform: translateX($translation) translateY(-$translation);
					}
				}

				&__icon-container {
					background-image: url("../public/hexagon.png");
					background-repeat: no-repeat;
					background-position: center;
					background-size: auto 100%;
					width: 200px;
					height: 200px;
					@include mobile() {
						width: 100%;
						height: auto;
					}
					display: grid;
					place-items: center;
					margin-bottom: 1rem;
					.icon {
						$size: 65%;
						width: $size;
						height: $size;

						img {
							height: 100%;
							width: 100%;
						}
					}
				}

				&__title {
					font-size: 18px;
					text-align: center;
					margin-bottom: 0.75rem;
				}

				&__description {
					text-align: center;
				}
			}
		}
	}

	.contact {
		.section-header {
			margin-block: 4rem;
		}

		.container {
			min-height: 100vh;
			display: flex;
			flex-direction: column;
		}

		.title {
			font-size: 32px;
			margin-bottom: 1rem;
			@include mobile() {
				padding-inline: 1rem;
			}
		}

		.description {
			font-size: 18px;
			margin-bottom: 3rem;
			@include mobile() {
				padding-inline: 1rem;
			}
		}

		.contact-means {
			.contact-mean {
				display: flex;
				justify-content: space-between;
				align-items: center;
				&:not(:last-child) {
					margin-bottom: 5rem;
				}
				img {
					width: 70px;
					@include mobile() {
						width: 35px;
						box-sizing: content-box;
						padding: 1rem;
					}
				}
			}
		}

		.btn-download-cv {
			margin-block: auto;
			margin-inline: auto;
			padding: 2rem;
			padding-inline: 3rem;
			width: fit-content;
			@include mobile() {
				width: 100%;
			}
			background-color: $white;
			position: relative;
			button {
				z-index: 5;
				color: $blue-bg;
				font-size: 28px;
				@include mobile() {
					font-size: 18px;
				}
				background-color: $white;
				border: none;
				position: relative;
				padding: 1rem 3rem;
				@include mobile() {
					width: 100%;
				}
			}

			&::before {
				content: "";
				background-color: $blue-bg;
				height: 50px;
				width: 150%;
				position: absolute;
				left: 50%;
				top: 50%;
				transform: translateX(-50%) translateY(-50%);
			}
		}
	}
}

.const-width {
	// max-width: $max-width;
	width: clamp(200px, 100%, $max-width);
	margin-inline: auto;
}

.section-header {
	background-image: url("../public/section-header-bg-img.jpg");
	background-attachment: fixed;
	background-size: 100%;
	@include mobile() {
		background-size: auto 200px;
	}
	background-position: center;
	background-repeat: no-repeat;
	text-align: center;
	.text {
		font-size: 40px;
		padding-block: 5rem;
		backdrop-filter: blur(7px);
	}
}
